<form novalidate role="form" name="form">
  <div class="modal-header">
    <h3 class="modal-title">Add a Statement</h3>
  </div>
  
  <div class="modal-body">
    <div class="form-group" data-ng-class="{'has-error': form.asnUri.$invalid && form.asnUri.$dirty, 'has-success': !form.asnUri.$invalid}" >
      <label for="asnUri" class="sr-only"> ASN URI </label>
      <input type="text" name="asnUri" data-ng-model="edu.statement.asnUri" class="form-control" id="asnUri" placeholder="ASN URI" ng-required>
      <span class="help-block"> The Achievment Standards Network URI for this Statement <question-mark question-click=""></question-mark> </span>
    </div>
 
   <div class="form-group" data-ng-class="{'has-error': form.subject.$invalid && form.subject.$dirty, 'has-success': !form.subject.$invalid}">
      <label for="subject" class="sr-only"> Subject </label>
      <input type="text" name="subject" class="form-control" data-ng-model="edu.statement.subject" placeholder="Subject" />
   </div>
   
   <div class="form-group">
    <label for="educationlevels" class="sr-only"> Education Level(s) </label>
     <ui-select multiple data-ng-model="edu.levels" theme="select2" ng-disabled="disabled" class="form-control">
       <ui-select-match placeholder="Education levels that this statement applys"> {{$item.description}} </ui-select-match>
       <ui-select-choices repeat="level in availableEducationLevels | filter:$select.search">
         <div ng-bind-html="level.description | highlight: $select.search"></div>
        </ui-select-choices>    
    </ui-select>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">Add</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</form>
