<div class="modal-header">
  <h3 class="modal-title text-danger" ><i class="fa fa-warning"></i> Delete Standard </h3>
</div>
<div class="modal-body">
  <b class='text-warning'> Are you sure you want to delete this standard? <b> 
      <br />
  <i> This is a destructive action and can not be undone! It will delete all statements that belong to this standard as well! </i>

</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="ok()">DELETE</button>
  <button class="btn btn-success" ng-click="cancel()">Cancel</button>
</div>
