<section class="row">
  <div class="col-lg-12">
    <div class="table-responsive"> 
      <table class="table"> 
        <thead> 
          <tr> 
            <th ng-if="activities.isMyTab()"> <input type="checkbox" /> </th>
            <th> Title </th> 
            <th> Description </th> 
            <th> Subject </th> 
            <th> Rights </th> 
            <th> Source </th>
            <th> Type </th>
          </tr> 
        </thead> 
        <tbody> 
          <tr data-ng-repeat="act in activities.activities"> 
            <td ng-if="activities.isMyTab()"> <input type="checkbox" ng-model="selection" ng-change="activities.updateSelection(act, selection)" /> </td>
            <td> {{::act.title}} </td>
            <td> {{::act.description}} </td>
            <td> {{::act.subject}} </td>
            <td> {{::act.rights}} </td>
            <td> {{::act.source}} </td>
            <td> {{::act.catagory}} </td>
          </tr>
        </tbody> 
      </table> 
    </div> 
  </div>
</section>


