<section class="row">
  <div class="col-lg-12">
    <div class="table-responsive"> 
      <table class="table table-hover"> 
        <thead> 
          <tr> 
            <th ng-if="activities.isMyTab()"> <input type="checkbox" /> </th>
            <th> Title </th> 
            <th> Description </th> 
            <th> Subject </th> 
            <th> Resource </th>
            <th> Standard(s) </th>
            <th> </th>
          </tr> 
        </thead> 
        <tbody> 
          <tr data-ng-repeat="act in activities.activities"> 
            <td ng-if="activities.isMyTab()"> <input type="checkbox" ng-model="selection" ng-change="activities.updateSelection(act, selection)" /> </td>
            <td> {{::act.title}} </td>
            <td> {{::act.description}} </td>
            <td> {{::act.subject}} </td>
            <td> 
              <resource-compact-view resource-id="act.resourceId"> 
              </resource-compact-view>   
            </td>
            <td> 
              <standard-view activity-id="act.id">
              </standard-view>
            </td>
            <td> 
              <button class="btn-circle btn-info btn-xs" ng-click="activities.editActivity(act)" > 
                <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody> 
      </table> 
    </div> 
  </div>
</section>


