<tabset>
  <data-tab heading="My Activities" select="activities.setCurrentActivities('my')">
    <section class="row">
      <div class="col-md-12">
        <button class="btn btn-xs btn-success" ng-click="activities.begin()"> <i class="fa fa-plus"></i> Add New </button>
        <button ng-if="activities.isMyTab()" class="btn btn-xs btn-danger" ng-click="activities.deleteSelectedActivities()" ng-disabled="activities.selectedActivities.length ==0">
            <i class="fa fa-trash"></i> Delete
        </button>
      </div>
    </section>

    <activity-widget></activity-widget> 
  </data-tab>

  <data-tab heading="Activity Sets" select="activities.setCurrentActivities('sets')">
    <activity-sets-widget> </activity-sets-widget>   
  </data-tab>

  <data-tab heading="All Activities" select="activities.setCurrentActivities('all')">
    <activity-widget></activity-widget> 
  </data-tab>
</tabset>
