<div class="list-group">
  <a  ui-sref="admin.questions.edit({questionId:question.id})" class="list-group-item" ng-repeat="question in questions" > 
    <h4 class="list-group-item-heading">{{question.text}} </h4> 
      <p class="list-group-item-text">
        <div class="col-md-12"> 
        <div class="col-md-2"> 
           <div question-picture style="width: 100px;height:100px"> </div>
        </div>

        <div class="col-md-5">
          <h5> Standard </h5>
          <p> None yet </p>
        </div>
        <div class="col-md-5"> 
          <h5> Statements that Apply </h5>
          <ul>
            <li data-ng-repeat="statement in question.statements">
              {{statement.description}}
            </li>
          </ul>
        </div>
      </div>
      <span class="clearfix"> </span>
    </p>
  </a>
</div>
