<div class="table-responsive"> 
  <table class="table table-striped table-condensed table-hover"> 
    <thead> 
      <tr> 
        <th ng-if="isMultipleSelect()"> <input type="checkbox" /> </th>
        <th> Title </th>
        <th> Description </th>
        <th> Question Text </th> 
        <th> Answer </th> 
        <th ng-hide="hidePicture"> Picture </th>
      </tr> 
    </thead> 
    <tbody> 
      <tr data-ng-repeat="resource in questions" 
          data-ng-click="addResource(resource)"
          data-ng-class="resource.selected" > 
        <td ng-if="isMultipleSelect()" > <input type="checkbox" ng-model="selection" ng-change="updateSelection(resource, selection)" /> </td>
        <td> {{::resource.title}} </td> 
        <td> {{::resource.description}} </td> 
        <td> {{::resource.question.text}} </td>
        <td> {{::resource.question.answer}} </td>
        <td ng-hide="hidePicture" question-picture pic="resource.picture" style="width: 100px;height:100px"> </td>
      </tr>
    </tbody> 
  </table> 
</div> 
