@(signUpForm:Form[securesocial.controllers.RegistrationInfo], mailToken: String)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper._

@import java.util.Date
@implicitFieldConstructor = @{ FieldConstructor(helpers.horizontalForm.f) }

@main(title = "Sign up for an account") {

  <style type="text/css">
    body {
      background: url('@routes.Assets.at("images/learning_lab.jpg")') no-repeat fixed center center / cover transparent;
    }
  </style>

  <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand"> Proximal Learning </a>
        </div>
      </div>
    </nav>
  </header>

  <div class="container login-page">
    <div class="login-wrapper">
       <form action="@securesocial.controllers.routes.Registration.handleSignUp(mailToken).absoluteURL(IdentityProvider.sslEnabled)" class="form-horizontal" autocomplete= "off" method="POST" >
         <legend>Create an account for Proximal Learning </legend>
          @request.flash.get("error").map { msg =>
          <div class="alert alert-danger " role="alert">
            @msg
          </div>
          }

          @if( UsernamePasswordProvider.withUserNameSupport ) {
            @helper.inputText(signUpForm("userName"), '_label -> Messages("securesocial.signup.username"), 'class -> "input-xlarge form-control")
          }
          @helper.inputText( signUpForm("firstName"), '_label -> Messages("securesocial.signup.firstName"), 'class -> "input-xlarge form-control"
          )
          @helper.inputText( signUpForm("lastName"), '_label -> Messages("securesocial.signup.lastName"), 'class -> "input-xlarge form-control"
          )
          @helper.inputPassword( signUpForm("password.password1"), '_label -> Messages("securesocial.signup.password1"), 'class -> "input-xlarge form-control")
          @helper.inputPassword( signUpForm("password.password2"), '_label -> Messages("securesocial.signup.password2"), '_error -> signUpForm.error("password"), 'class -> "input-xlarge form-control"
          )
         <div class="form-group">
           <div class="col-xs-offset-4 col-xs-8">
             <button class="btn btn-primary" type="submit"> @Messages("securesocial.signup.createAccount") </button>
             <a class="btn" href="@env.routes.loginPageUrl">@Messages("securesocial.signup.cancel")</a>
           </div>
         </div>
       </form>
    </div>

  </div>

  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom"
    role="navigation" style="background-color:#fff;">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">
            <span class="small copyright"> © Poximal Learning LLC @{new Date().format("yyyy")} </span>
          </span>
        </div>
      </div>
    </nav>
  </footer>


}
