@(signUpForm:Form[securesocial.controllers.RegistrationInfo], mailToken: String)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])

@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper._

@import java.util.Date
@implicitFieldConstructor = @{ FieldConstructor(helpers.horizontalForm.f) }

@layouts.registration_layout(title = "Sign up for an account") {

  <div class="container login-block">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4"> 
          <h3 class="animated bounceInDown">Login to Proximal</h3> 
          <div class="login-box clearfix animated flipInY">
            <div class="login-logo">
              <a><img src="@routes.Assets.at("images/company-logo.png")" alt="Proximal" /></a>
            </div> 
            <hr />
       
            <div class="login-form">
              @request.flash.get("error").map { msg =>
                <div class="alert alert-danger">
                  @msg
                </div>
              }
       <form action="@securesocial.controllers.routes.Registration.handleSignUp(mailToken).absoluteURL(IdentityProvider.sslEnabled)" class="form-horizontal" autocomplete= "off" method="POST" >
         <legend>Create an account for Proximal Learning </legend>
          @request.flash.get("error").map { msg =>
          <div class="alert alert-danger " role="alert">
            @msg
          </div>
          }

          @if( UsernamePasswordProvider.withUserNameSupport ) {
            @helper.inputText(signUpForm("userName"), '_label -> Messages("securesocial.signup.username"), 'class -> "input-xlarge form-control")
          }
          @helper.inputText( signUpForm("firstName"), '_label -> Messages("securesocial.signup.firstName"),'placeholder -> "Firstname" 
          )
          @helper.inputText( signUpForm("lastName"), '_label -> Messages("securesocial.signup.lastName"), 'placeholder -> "Lastname"
          )
          @helper.inputPassword( signUpForm("password.password1"), '_label -> Messages("securesocial.signup.password1"), 'placeholder -> "Password")
          @helper.inputPassword( signUpForm("password.password2"), '_label -> Messages("securesocial.signup.password2"), '_error -> signUpForm.error("password"), 'placeholder -> "Confirm Password"
          )
          <button class="btn btn-primary" type="submit"> @Messages("securesocial.signup.createAccount") </button>
           </div>
         </div>
       </form>
       <div class="login-links"> 
         <a href="@env.routes.loginPageUrl"> Cancel </a>
         <br />
       </div> 
      </div>
    </div>
  </div> 
    </div>
  </div>
}
