@(startForm:Form[String])(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import helper._

@import java.util.Date
@implicitFieldConstructor = @{ FieldConstructor(helpers.horizontalForm.f) }

@layouts.registration_layout(title = "Provide a valid email"){
  
     <div class="container" id="login-block">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4"> 
          <h3 class="animated bounceInDown">Login to Proximal</h3> 
          <div class="login-box clearfix animated flipInY">
            <div class="login-logo">
              <a><img src="@routes.Assets.at("images/company-logo.png")" alt="Proximal" /></a>
            </div> 
            <hr />
       
            <div class="login-form">
              @request.flash.get("error").map { msg =>
                <div class="alert alert-danger">
                  @msg
                </div>
              }
              
              <form action="@env.routes.startSignUpUrl" class="form-horizontal" autocomplete="off" method="post" > 
                @helper.inputText( startForm("email"), '_label -> Messages("securesocial.signup.email1"), 'placeholder -> "Provide a Valid Email")
                <button type="submit" class="btn btn-login">Submit</button> 
              </form> 
              <div class="login-links"> 
                <a href="@env.routes.loginPageUrl">
                     Cancel
                </a>
                <br />
               </div> 
            </div>
          </div>
        </div>   
      </div>
    </div>
  </div>
}
