<form novalidate role="form" name="form">
  <div class="modal-header">
    <h3 class="modal-title">Add a Question </h3>
  </div>
  <div class="modal-body">
    <div class="form-group" data-ng-class="{'has-error': form.text.$invalid, 'has-success': !form.text.$invalid}" >
      <label for="text" class="sr-only"> Write your Question </label>
      <textarea name="text" rows="5" data-ng-model="question.text" class="form-control" id="questionText" placeholder="Write Your Question" required></textarea>
    </div>

    <div class="form-group" data-ng-class="{'has-error': form.answer.$invalid, 'has-success': !form.answer.$invalid}" >
      <label for="Answer" class="sr-only"> Give an answer (Optional) </label>
      <textarea name="answer" rows="5" data-ng-model="question.answer" class="form-control" id="questionAnswer" placeholder="Give an Answer (Optional)" > </textarea>
    </div>
   
    <div class="form-group" data-ng-class="{'has-error': form.picture.$invalid, 'has-success': !form.picture.$invalid}" >
      <label for="picture"> Add a picture </label>
            <input type="file" class="form-control" name="file"  ng-file-select ng-model="picture" ng-file-change="upload($files)" >
      <progressbar ng-show="progressPercentage > 0" class="progress-striped active" max="100" value="progressPercentage" type="success"><i>{{progressPercentage}}%</i></progressbar>
      
      <!-- TODO: show the list of thumbnails already uploaded  --> 
      <ul class="list-unstyled list-inline" ng-if="uploaded.length > 0" style="padding-top:.5em">
        <li ng-repeat="uploadFile in uploaded">
          <img width="80px" height="80px" src="data:{{uploadFile.contentType}};base64,{{uploadFile.content}}" /> 
          <div> {{uploadFile.filename}} </div>
        </li> 
      </ul> 
    </div>
    
    <div class="form-group" data-ng-class="">
      <label for="standard"> Align with a Standard </label>
      <select name="standard" ng-model="standardSelected" class="form-control" ng-options="standard.title for standard in availableStandards" ng-change="getStatements()" >
        <option value=""> -- Choose a Standard -- </option>
      </select>
    </div>
    
    <div class="form-group" data-ng-if="showEducationLevels()">
      <label for="educationlevels"> Filter by Education Level(s) </label>
      <ui-select multiple data-ng-model="select2.educationLevels" theme="select2" ng-disabled="disabled" class="form-control" ng-change="educationLevelChange()" >
        <ui-select-match placeholder="Education levels that this statement applys"> {{$item.description}} </ui-select-match>
          <ui-select-choices repeat="level in availableEducationLevels | filter:$select.search"> <div ng-bind-html="level.description | highlight: $select.search"></div>
          </ui-select-choices>
      </ui-select>
    </div> 
    
    <div class="form-group" data-ng-class="" data-ng-if="showStatements()"> <label for="statements"> Available Statements </label>
      <ui-select multiple data-ng-model="select2.statements" theme="select2" ng-disabled="disabled" class="form-control">
        <ui-select-match placeholder="Statements that this question covers"> {{$item.statement.description}} </ui-select-match>
        <ui-select-choices repeat="statement in availableStatements| filter:$select.search">
          <div ng-bind-html="statement.statement.description | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  
  </div> 

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">Create</button> 
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>
