<section class="row"> 
  <div class="col-lg-12">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="widget">
        <div class="widget-body">
          <!-- <div class="widget-icon green pull-left">
            <i class="fa fa-plus"></i>
          </div> -->
          <div class="widget-content pull-left"> 
            <div class="title"> Add homework </div>
            <div class="comment"> 
              <div class="form-group" >
                <select name="standard" ng-model="homework.standardSelected" class="form-control" ng-options="standard.title for standard in homework.availableStandards" >
                  <option value=""> -- Choose a Standard -- </option>
                </select>
                <span id="helpBlock" class="help-block small"><i class="fa fa-question-circle"></i><a href="#"> Help! I don't see my standard! </a> </span>
              </div>
              <button class="btn btn-primary" ng-click="homework.begin()" ng-class="{'disabled': homework.standardSelected == null}"> Continue </button> 
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>