<div class="modal-header">
  <!-- <h3 class="modal-title">Add Homework</h3> -->
  <br />
  <ul class="steps-indicator steps-3">
      <li data-ng-class="{default: !step.completed && !step.selected, 
                     current: step.selected && !step.completed, 
                     done: step.completed && !step.selected, 
                     editing: step.selected && step.completed}" 
         data-ng-repeat="step in addHomework.steps">
        <a data-ng-click="addHomework.goTo(step)"> {{step.title}} </a>
      </li>
    </ul>
    <br />
</div>
<div class="modal-body">
  
  <div class="row" data-ng-show="addHomework.steps[0].selected == true">
    <div class="col-lg-12">
      <div class="widget">
        <div class="widget-header">
          Choose which statement applies 
          <input type="text" placeholder="Search" data-ng-model="searchText" class="form-control input-sm pull-right" />
          <div class="clearfix"> </div>
        </div>
        <div class="widget-body small no-padding">
          <div class="table-responsive">
            <table class="table table-striped table-condensed table-hover">
              <thead>
                <tr>
                  <th> Notation </th>
                  <th> Description </th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-click="addHomework.statement = statement.statement;addHomework.entity.statementId = statement.statement.id" 
                    data-ng-class="{'success': addHomework.statement.id == statement.statement.id}" data-ng-repeat="statement in addHomework.statements | filter: searchText">
                  <td> {{statement.statement.notation }}</td>
                  <td> {{statement.statement.description }} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" data-ng-show="addHomework.steps[1].selected == true">
    <form name="homeworkForm"  class="form-horizontal" data-ng-init="addHomework.setForm(this)" >
      <input type="hidden" ng-model="addHomework.entity.statementId" value="{{addHomework.statement.id}}" />
      <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" ng-model="addHomework.entity.activity.title" class="form-control" id="title" placeholder="e.g Lesson 5.2 or Math Worksheet 1" data-ng-required>
        </div>
      </div>

      <div class="form-group">
        <label for="subject" class="col-sm-2 control-label">Subject</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="addHomework.entity.activity.subject" id="subject" placeholder="e.g Math or Basket Weaving" ng-required>
        </div>
      </div>

      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <textarea ng-model="addHomework.entity.activity.description" class="form-control" id="description"> 
          </textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="status" class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
          <select class="form-control"  ng-model="addHomework.entity.homework.status" ng-options="status.text as status.text for status in addHomework.status">
            <option value=""> -- Select a Status -- </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="date-given" class="col-sm-2 control-label">Date Given</label>
        <div class="col-sm-10">
          <input type="date" data-ng-model="addHomework.dateGiven" class="form-control" id="date-given" placeholder="Date Given" data-ng-required>
        </div>
      </div>

      <div class="form-group">
        <label for="date-due" class="col-sm-2 control-label">Due Date</label>
        <div class="col-sm-10">
          <input type="date" data-ng-model="addHomework.dateDue" class="form-control" id="date-due" placeholder="Due Date">
        </div>
      </div>

    </form>    
  </div>
 
  <div class="row" data-ng-show="addHomework.steps[2].selected == true">
  
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="alert alert-info" role="alert">Give some tips and instructions for using Actions</div> 
    </div>
  
    <div class="col-md-12 col-lg-12 col-sm-12" data-ng-show="addHomework.entity.acts.length > 0">
      <ul>
        <li data-ng-repeat="actions in addHomework.entity.acts">{{actions.action}} </li>
      </ul>
    </div>
    
    <hr>

    <div class="col-md-12 col-lg-12 col-sm-12">
      <div data-ng-if="addHomework.showAdd" > 
      <div class="input-group margin-bottom-sm" >
        <input type="text" class="form-control" data-ng-model="addHomework.actionToAdd" placeholder="">  
        <span class="input-group-addon"> 
          <span class="rating">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
          </span>
        </span>
      </div>
      <button type="submit" class="btn btn-sm btn-success" style="margin-top:.25em;" data-ng-click="addHomework.addAction()"> Add </button>
    </div>
    <a data-ng-click="addHomework.showAdd = true"> <span> <i class="fa fa-plus"></i> Add an action </span> </a>
    </div> 
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" data-ng-show="addHomework.steps[addHomework.steps.length-1].selected == true" data-ng-click="addHomework.ok()">Submit </button>
  <button class="btn btn-primary" 
          data-ng-show="addHomework.steps[addHomework.steps.length-1].selected == false" 
          data-ng-disabled="addHomework.isNextDisabled()"
          data-ng-click="addHomework.nextStep()"> 
          Next 
  </button>
  <button class="btn btn-warning" data-ng-click="addHomework.cancel()">Cancel</button>
</div>
