<div class="row">
  <div class="col-md-2"> 
    <div class="row" style="padding-bottom: 10px" >
      <button class="btn btn-success btn-circle" data-ng-click="createChild()"><i class="fa fa-plus"></i></button> 
    </div>
    <div data-ng-if="children.length < 1" class="message">
      <span> You have not added your children yet </span>
    </div>
   
    <div class="list-group" ng-if="children.length > 0">
      <a href="#" class="list-group-item active" data-ng-repeat="c in children" ui-sref-active="active" ui-sref="children.view({id:c.id})">
        {{c.firstName}} 
      </a>
    </div>
  </div>
  <div ui-view class="view-child col-lg-10"> </div>
</div>
