<div>
  <prox-widget>
    <prox-widget-header title="Registered Children"> 
      <button class="btn btn-sm btn-primary" ng-click="createChild()"> Add Child </button> 
    </prox-widget-header>
    <prox-widget-body>
      <div data-ng-show="children.length < 1" class="message">
        <span> You have not registered any children yet. </span>
      </div>
      <hr data-ng-show="children.length < 1" /> 

      <div class="table-responsive" data-ng-show="children.length > 0">
        <table class="table table-hover">
          <tbody >
            <tr data-ng-repeat="child in children" ui-sref-active="active">
              <td> {{child.firstName}} </td> 
              <td>
                  <div class="col-md-offset-9 col-md-3">
                   <a ui-sref="children.view({id:child.id})"> <i class="fa fa-eye text-primary"></i></a> 
                   &nbsp;
                   <a ng-click="removeChild(child.id)"> <i class="fa fa-trash text-danger"></i> </a> 
                  </div>
              </td> 
            </tr>
          </tbody>
        </table>
      </div>
    </prox-widget-body>
  </prox-widget>
</div>
