<div class="row col-md-12 toolbar">
<div class="col-md-4" child-picture child="child" style="min-height:5em"> </div> 
  <div class="col-md-4"> 
    <h4> {{child.firstName + ' ' + child.lastName}} </h4>
  </div>
 <div class="col-md-4">
    <h4> {{child.educationLevel.description}} </h4>
  </div>
</div>

<tabset>  
  <tab heading="New Assessment" ui-sref="children.view.assesment" ui-active="active">
    <tab-heading>
      Assesments
    </tab-heading>
    <ui-view></ui-view>
  </tab>

  <tab select="alertMe()">
    <tab-heading>
      <i class="glyphicon glyphicon-bell"></i> Alert!
    </tab-heading>
    I've got an HTML heading, and a select callback. Pretty cool!
  </tab>
</tabset>
