<form novalidate role="form" name="form">
  <div class="modal-header">
    <h3 class="modal-title">Add a Statement</h3>
  </div>
  
  <div class="modal-body">
  
    <div class="form-group" data-ng-class="{'has-error': form.notation.$invalid && form.notation.$dirty, 'has-success': !form.notation.$invalid}">
      <label for="notation" class="sr-only"> Notation </label>
      <input type="text" name="notation" class="form-control" data-ng-model="edu.statement.notation" placeholder="Notation" ng-required />
    </div>
 
    <div class="form-group" data-ng-class="{'has-error': form.description.$invalid && form.description.$dirty, 'has-success': !form.description.$invalid}">
      <label for="description" class="sr-only"> Description </label>
      <textarea name="description" class="form-control" data-ng-model="edu.statement.description" placeholder="Description" ng-required>
      </textarea>
    </div>
 
    <div class="form-group" data-ng-class="{'has-error': form.subject.$invalid && form.subject.$dirty, 'has-success': !form.subject.$invalid}">
      <label for="subject" class="sr-only"> Subject </label>
      <input type="text" name="subject" class="form-control" data-ng-model="edu.statement.subject" placeholder="Subject" disabled/>
   </div>
   
   <div class="form-group">
    <label for="educationlevels" class="sr-only"> Education Level(s) </label>
     <ui-select multiple data-ng-model="edu.levels" theme="bootstrap" ng-disabled="disabled" class="form-control">
       <ui-select-match placeholder="Education levels that this statement applys"> {{$item.description}} </ui-select-match>
       <ui-select-choices repeat="level in availableEducationLevels | filter:$select.search">
         <div ng-bind-html="level.description | highlight: $select.search"></div>
        </ui-select-choices>    
    </ui-select>
  </div>

  <div class="form-group" data-ng-class="{'has-error': form.sequence.$invalid && form.sequence.$dirty, 'has-success': !form.sequence.$invalid}">
      <label for="sequence" class="sr-only"> Subject </label>
      <input type="number" min="1" max="50" name="sequence" class="form-control" data-ng-model="edu.statement.sequence" placeholder="Sequence" />
   </div>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()" ng-disabled="form.$invalid">Add</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
</form>
