<section ng-if="!app.state.current.data.hideChildren"> 

  <div class="row" ng-controller="ChildrenCtrl as childCtrl">
    <div class="row">
      <button class="btn btn-sm btn-success" style="margin: 0px 10px" ng-click="childCtrl.createChild()">
        <i class="fa fa-plus"></i> Add Child
      </button>
    </div> 
    <div class="col-sm-4 col-md-3" ng-repeat="c in childCtrl.children">
      <div class="thumbnail">
        <img child-picture child="c" style="width:100px;height:100px;"> 
        <div class="caption">
          <h3>{{::c.firstName}}</h3>
          <p> Some blurb, maybe birthdate? and grade? </p>
          <p><a ui-sref="children.view({id:c.id})" class="btn btn-info btn-sm" role="button"> <i class="fa fa-eye"></i> View </a> 
          <a class="btn btn-default btn-danger btn-sm" role="button" ng-click="childCtrl.removeChild(c.id)">
            <i class="fa fa-trash"></i>Delete</a></p>
        </div>
      </div>
    </div>
  </div>

</section>
<ui-view class="row col-md-12"></ui-view>
<toaster> </toaster>
