@(title: String)(content: Html)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login to Proximal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/login.css")">
  </head>
  <body>
    @content
    <!-- End Login box -->
    <footer class="container">
      <p id="footer-text"><small>Copyright &copy; @( (new org.joda.time.DateTime()).getYear()) <a href="">Proximal Labs LLC</a></small></p>
    </footer>
  </body>
</html>
 
